* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  color: #fdfdfd;
  overscroll-behavior-y: none;
}

a {
  color: inherit;
  text-decoration: none;
}
