.prose code {
  background-color: var(--color-code-bg);
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-family: 'Menlo', 'Hack';
}

.prose pre {
  background-color: var(--color-code-bg);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin: 1.5rem 0;
}

code::before,
code::after {
  display: none;
}

div.code-line:empty {
  height: 15.5938px;
}

span.code-line {
  min-width: 100%;
  display: inline-block;
}

.code-line.inserted {
  background-color: var(--color-inserted-line-bg);
}

.code-line.deleted {
  background-color: var(--color-deleted-line-bg);
}

.highlighted-code-line {
  background-color: var(--color-line-highlight-bg);
  border-left: 4px solid var(--color-border-accent);
  padding-left: 4px;
  margin-left: -8px;
}

.numbered-code-line::before {
  content: attr(data-line-number);

  margin-left: -8px;
  margin-right: 16px;
  width: 1rem;
  color: var(--color-line-number-text);
  text-align: right;

  display: inline-block;
}

article img {
  margin: 4px;
  border: 0px solid var(--color-border-primary);
  border-radius: 6px;
  max-height: 50dvh;
}

article video {
  margin: 4px;
}
