.prose code {
  background-color: #f7fafc;
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-family: 'Menlo', 'Hack';
}

.prose pre {
  background-color: #f7fafc;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin: 1.5rem 0;
}

div.code-line:empty {
  height: 15.5938px;
}

span.code-line {
  min-width: 100%;
  display: inline-block;
}

.code-line.inserted {
  background-color: var(--color-inserted-line);
}

.code-line.deleted {
  background-color: var(--color-deleted-line);
}

.highlighted-code-line {
  background-color: var(--color-highlighted-line);
  border-left: 4px solid var(--color-highlighted-line-indicator);
}

.numbered-code-line::before {
  content: attr(data-line-number);

  margin-left: -8px;
  margin-right: 16px;
  width: 1rem;
  color: var(--color-text-weak);
  text-align: right;

  display: inline-block;
}

img {
  margin: 4px;
  border: 0px solid rgb(229, 231, 235);
  border-radius: 6px;
  max-height: 50dvh;
}
