@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  height: 100vh;
}

#__next {
  display: flex;
  height: 100%;
}

.quill {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.DraftEditor-editorContainer blockquote {
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  color: #666;
  padding: 10px 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.DraftEditor-editorContainer pre {
  font-family: monospace;
  background-color: #23272d;
  color: #7bb0f3;
  margin: 0;

  height: 1.5rem;
  line-height: 1.5rem;
}

.DraftEditor-editorContainer {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9rem;
  padding: 1rem;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
